--get <lars.willighagen@gmail.com>
Aaron Tribou <aaron.tribou@gmail.com> <tribou@users.noreply.github.com>
AJ Jordan <alex@strugee.net>
Aki <hi@akiro.se> <71239005+AkiaCode@users.noreply.github.com>
Alex Jordan <alex@strugee.net>
Alex K. Wolfe <alexkwolfe@gmail.com>
Andreas <functino@users.noreply.github.com> <andreas@bielk.se>
Andrew Bradley <cspotcode@gmail.com>
Andrew Lunny <alunny@gmail.com>
Andrew Schmadel <aschmadel@learningobjects.com> <schmod@users.noreply.github.com>
Anna Henningsen <sqrt@entless.org> <anna@addaleax.net>
Anna Henningsen <sqrt@entless.org> <github@addaleax.net>
Aria Stewart <aredridel@nbtsc.org> <aredridel@dinhe.net>
Arlo Breault <arlolra@gmail.com>
Ashley Williams <ashley@npmjs.com> <ashley666ashley@gmail.com>
Ashley Williams <ashley@npmjs.com> <ashley@bocoup.com>
Audrey Eschright <audrey@npmjs.com> <audrey@lifeofaudrey.com>
Benjamin Coe <bencoe@gmail.com>
Benjamin Coe <bencoe@gmail.com> <ben@npmjs.com>
Brian White <mscdex@mscdex.net> <mscdex@gmail.com>
CalebCourier <caleb.courier@monsanto.com>
Cedric Nelson <cedric.nelson@gmail.com>
Charlie Robbins <charlie.robbins@gmail.com>
Christopher Hiller <chiller@badwing.com> <boneskull@boneskull.com>
Claudia Hernández <cghr1990@gmail.com>
COURIER, CALEB [AG/1000] <caleb.courier@monsanto.com>
Daijiro Wachi <daijiro.wachi@gmail.com>
Daijirō Wachi <daijiro.wachi@gmail.com>
Dalmais Maxence <root@ip-10-195-202-5.ec2.internal>
Daniel Park <gimli01@github.com> <daniel.park@endevors.io>
Danila Gerasimov <danila.gerasimov@gmail.com>
Dave Galbraith <dave@jut.io>
David Beitey <david@davidjb.com>
David Rousselie <guido.dassori@gmail.com>
Domenic Denicola <domenic@domenicdenicola.com>
Dr <dr@dr.run>
dr-js <dr@dr.run>
Edward Thomson <ethomson@edwardthomson.com> <ethomson@github.com>
Einar Otto Stangvik <einaros@gmail.com>
Emily Marigold Klassen <forivall@gmail.com>
Emma Ramirez <ramirez.emma.g@gmail.com>
Enrico Weigelt <enrico.weigelt@gr13.net>
Enrico Weigelt, metux IT consult <enrico.weigelt@gr13.net>
Erik Wienhold <git@ewie.name>
Evan Lucas <evan@btc.com> <evan.lucas@hattiesburgclinic.com>
Evan Lucas <evan@btc.com> <evanlucas@me.com>
Evan You <yyx990803@gmail.com> <yyou@google.com>
Faiq Raza <faiqrazarizvi@gmail.com>
Forbes Lindesay <forbes@lindesay.co.uk>
Forrest L Norvell <ogd@aoaioxxysz.net> <forrest@npmjs.com>
Forrest L Norvell <ogd@aoaioxxysz.net> <othiym23@gmail.com>
Gabriel Barros <descartavel1@gmail.com>
Gar <gar+gh@danger.computer>
Gareth Jones <Jones258@Gmail.com> <jones258@gmail.com>
Geoff Flarity <geoff.flarity@gmail.com> <gflarity@raptvm-x02.(none)>
gfyoung <gfyoung17@gmail.com> <gfyoung17+GitHub@gmail.com>
Gianluca Casati <casati_gianluca@yahoo.it> <fibo@users.noreply.github.com>
Gregers Gram Rygg <gregers.gram.rygg@finn.no>
Hirse <jan.pilzer@gmx.de>
Ifeanyi Oraelosi <ifeanyioraelosi@gmail.com>
isaacs <i@izs.me> <i@foohack.com>
isaacs <i@izs.me> <nope@not.real>
isaacs <i@izs.me> <isaacs@npmjs.com>
Jake Verbaten <raynos2@gmail.com>
Jakob Krigovsky <jakob.krigovsky@gmail.com> <jakob@krigovsky.com>
James George <jamesgeorge998001@gmail.com>
James Sanders <jimmyjazz14@gmail.com>
James Treworgy <jamietre@gmail.com>
jamesgeorge007 <jamesgeorge998001@gmail.com>
Jan Pilzer <jan.pilzer@gmx.de>
Jason Smith <jhs@iriscouch.com>
Jed Fox <git@twopointzero.us>
Jonas Weber <github@jonasw.de>
Jordan Klassen <forivall@gmail.com>
Joshua Bennett <legodudejb@gmail.com>
Joshua Bennett <legodudejb@gmail.com> <legodude17@users.noreply.github.com>
Julien Meddah <julien.meddah@deveryware.com>
Kat Marchán <kzm@zkat.tech> <kzm@sykosomatic.org>
Kevin Lorenz <mail@kevinlorenz.com>
Kris Windham <kriswindham@gmail.com>
Kyle E. Mitchell <kyle@kemitchell.com>
Kyle Mitchell <kyle@kemitchell.com>
Lars Willighagen <lars.willighagen@gmail.com>
Leonardo Rojas <leonardo.rojas@shopify.com>
Lin Clark <lin.w.clark@gmail.com>
Luke Arduini <luke.arduini@gmail.com> <luke.arduini@me.com>
Luke Karrys <luke@lukekarrys.com> <lukekarrys@gmail.com>
Maciej Małecki <me@mmalecki.com> <maciej.malecki@notimplemented.org>
Martin Ek <mail@ekmartin.com>
Max Goodman <c@chromakode.com>
Maxim Bogushevich <boga1@mail.ru>
Maximilian Antoni <mail@maxantoni.de> <maximilian.antoni@juliusbaer.com>
Michael Garvin <gar+gh@danger.computer>
Michael Hayes <michael@hayes.io> <mhayes@newrelic.com>
Misha Kaletsky <misha.kaletsky@gmail.com>
Myles Borins <mborins@us.ibm.com> <mylesborins@github.com>
Nathan LaFreniere <quitlahok@gmail.com>
Nicolas Morel <marsup@gmail.com>
nlf <quitlahok@gmail.com>
npm CLI robot <npm-cli+bot@github.com>
npm team <ops+robot@npmjs.com> <ops+npm-cli@npmjs.com>
Olivier Melcher <olivier.melcher@gmail.com>
Pavlo Liulia <pavloblack@hotmail.com>
Paweł Lula <pavloblack@hotmail.com>
Ra'Shaun Stovall <rashaunstovall@gmail.com>
Ramana Venkata <idlike2dream@gmail.com> <vramana@users.noreply.github.com>
Rebecca Turner <me@re-becca.org> <rebecca@npmjs.com>
Rebecca Turner <me@re-becca.org> <turner@mikomi.org>
Ryan Emery <seebees@gmail.com>
Sakthipriyan Vairamani <thechargingvolcano@gmail.com>
Sam Mikes <smikes@cubane.com>
Sreenivas Alapati <sreenivas9alapati@gmail.com>
Stephanie Snopek <stephaniesnopek@gmail.com>
Steven <stevokk@hotmail.com> <steven@ceriously.com>
Takaya Kobayashi <jigsaw@live.jp>
Ted Yavuzkurt <hello@TedY.io> <davidteoman@gmail.com>
thefourtheye <thechargingvolcano@gmail.com> <thefourtheye@users.noreply.github.com>
thefourtheye <thechargingvolcano@gmail.com>
Thomas Reggi <thomas@reggi.com>
Thomas Reggi <thomas@reggi.com> <socialtr@gmail.com>
Tierney Cyren <accounts@bnb.im> <hello@bnb.im>
Timo Weiß <timoweiss@Timo-MBP.local>
Tony <zearin@gonk.net>
Trent Mick <trentm@gmail.com> <trent.mick@joyent.com>
tripu <t@tripu.info> <1016538+tripu@users.noreply.github.com>
Visnu Pitiyanuvath <visnupx@gmail.com>
Will Elwood <w.elwood08@gmail.com>
Wout Mertens <Wout.Mertens@gmail.com>
Yash Singh <saiansh2525@gmail.com>
Yash-Singh1 <saiansh2525@gmail.com>
Yeonghoon Park <sola92@gmail.com>
Zeke Sikelianos <zeke@sikelianos.com>
Zoujie Wzj <zoujie.wzj@alibaba-inc.com>
